<mat-card appearance="outlined" class="card">
  <mat-checkbox class="card-checkbox"></mat-checkbox>
  <div class="card-content">
    <h2 class="card-header">2x Milk</h2>
    <p class="card-description">sample description</p>
    <div class="card-additional-box-container">
      <div class="card-additional-box">
        <mat-icon aria-hidden="false" aria-label="price" fontIcon="attach_money"></mat-icon>
        <p class="card-additional-box-text">12.00</p>
      </div>
      <div class="card-additional-box">
        <mat-icon aria-hidden="false" aria-label="price" fontIcon="shopping_cart"></mat-icon>
        <p class="card-additional-box-text">LocalStore</p>
      </div>
    </div>
  </div>
</mat-card>
